.li_menu a{
    text-decoration: none;
    color: pink;
}

.contact a{
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}
.login a{
    text-decoration: none;
    color: #fff;
}
.login a:hover{
    color: red;
}

.nav-link{
    cursor: pointer;
    color: #d678c9;
    margin-left: 20px;
    text-align: center;
    font-size: larger ;
}
.nav-item a:hover{
    color: red;
}
.dropdown-menu a:hover{
    color: red;
}

.catetory-icon h5{
    text-align: center;
    justify-content: center;
}

.btn{
    border: none;
}

.myheader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: pink;
}

.mymenu{
    margin-top: 105px;
}

